html {
    height: 100vh;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin: 0;
    background: url('pictures/bookshelves.jpg');
    background-size: 100%;
    
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250,250,250,0.4);
    
}

.upperIcons, .lowerIcons {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.upperIcons > button, .lowerIcons > button {
    width: 40px;
    height: 40px;
    border: none;
}

.lowerIcons {
    margin-bottom: 15px;
}

button:hover {
    cursor: pointer;
}
#search {
    background-image: url('pictures/search.png');
    background-size: cover;
    background-color: transparent;
    margin-top: 15px;
}

#sort {
    background-image: url('pictures/sort.png');
    background-size: cover;
    background-color: transparent;
}

#settings {
    background-image: url('pictures/settings.png');
    background-size: cover;
    background-color: transparent;
}

#account {
    background-image: url('pictures/user.png');
    background-size: cover;
    background-color: transparent;
}

#addBook {
    background-image: url('pictures/addBook.png');
    background-size: cover;
    background-color: transparent;
}   

#deleteBook {
    background-image: url('pictures/removeBook.png');
    background-size: cover;
    background-color: transparent;
}

main {
    margin: 3vh 2vw 2vw 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 30%;
    grid-auto-flow: row;
    gap: 3rem;
    justify-content: center;
    overflow: auto;
}

main::-webkit-scrollbar {
    display: none;
}

.book {
    border: 1px solid aqua;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    height: 100%;   
}

.mouseHover {
    transform: scale(1.3);
}