html {
    height: 100vh;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin: 0;
    background: url('pictures/bookshelves.jpg');
    background-size: 100%;
    
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250,250,250,0.4);
}


.upperIcons, .lowerIcons {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.upperIcons > button, .lowerIcons > button {
    width: 40px;
    height: 40px;
    border: none;
}

.lowerIcons {
    margin-bottom: 15px;
}

button:hover {
    cursor: pointer;
}
#search {
    background-image: url('pictures/search.png');
    background-size: cover;
    background-color: transparent;
    margin-top: 15px;
}

#sort {
    background-image: url('pictures/sort.png');
    background-size: cover;
    background-color: transparent;
}

#settings {
    background-image: url('pictures/settings.png');
    background-size: cover;
    background-color: transparent;
}

#account {
    background-image: url('pictures/user.png');
    background-size: cover;
    background-color: transparent;
}

#addBook {
    background-image: url('pictures/addBook.png');
    background-size: cover;
    background-color: transparent;
}   

#deleteBook {
    background-image: url('pictures/removeBook.png');
    background-size: cover;
    background-color: transparent;
}

main {
    
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 30%;
    grid-auto-flow: row;
    gap: 3rem;
    justify-content: center;
    overflow: auto;
}

main::-webkit-scrollbar {
    display: none;
}

.book {
    border: 1px solid aqua;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    height: 100%; 
    background-size: 100% 100%;  
}

.book:hover {
    cursor: pointer;
}

.mouseHover {
    transform: scale(1.3);
}

.bookHover {
    transform: scale(1.1);
}


[title="The Principles of Object-Oriented JavaScript"] {
    background-image: url('pictures/thePrinciplesOfObjectOrientedJavaScript.jpg');
}

[title="Inside the Machine: An Illustrated Introduction to Microprocessors and Computer Architecture"] {
    background-image: url('pictures/insideTheMachineAnIllustratedIntroToMicro.jpg');
}

[title="Structure and Interpretation of Computer Programs"] {
    background-image: url('pictures/structureAndInterpretationOfComputerPrograms.jpg');
}

[title="Design Patterns: Elements of Reusable Object-Oriented Software"] {
    background-image: url('pictures/designPatternsElementsOfReusableOOSoftware.jpg');
}

[title="Code: The Hidden Language of Computer Hardware and Software"] {
    background-image: url('pictures/codeTheHiddenLanguageOfComputerHardwareAndSoftware.jpg');
}

[title="Cracking the Coding Interview: 189 Programming Questions and Solutions"] {
    background-image: url('pictures/crackingTheCodingInterview.jpg');
}

[title="Code Complete: A Practical Handbook of Software Construction"] {
    background-image: url('pictures/codeComplete.jpg');
}

[title="Programming Pearls"] {
    background-image: url('pictures/programmingPearls.jpg');
}

[title="The Pragmatic Programmer: Your Journey to Mastery"] {
    background-image: url('pictures/thePragmaticProgrammer.jpg');
}

[title="Code Simplicity"] {
    background-image: url('pictures/codeSimplicity.jpg');
}

[title="Algorithms to Live By: The Computer Science of Human Decisions"] {
    background-image: url('pictures/algorithmsToLiveBy.jpg');
}

[title="Clean Code: A Handbook of Agile Software Craftmanship"] {
    background-image: url('pictures/cleanCode.jpg');
}

[title="Think Like a Programmer: An Introduction to Creative Problem Solving"] {
    background-image: url('pictures/thinkLikeAProgrammer.jpg');
}

[title="Introduction to Algorithms"] {
    background-image: url('pictures/introductionToAlgorithms.jpg');
}


.searchDiv {
    display: flex;
    width: 95%;
    height: 60px;
    border-radius: 0 4px 4px 0;
    background-color: rgba(250, 250, 250, 0.4);
}

.searchBar {
    width: 80%;
    height: 60px;
    background-color: transparent;
    border: none;
    padding-left: 5px;
    font-weight: bold;
}

.searchBar:focus {
    outline: none;
}

.searchBar:focus::placeholder {
    color: transparent; 
}

.searchBarButton {
    border-radius: 4px;
    width: 20%;
    height: 60px;
    background-color: rgba(127, 255, 212, 0.577);
    border: none;
}

.searchBarButton::after {
    content: "Search";
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

::placeholder {
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.hideBook {
    display: none;
}

.showAll {
    width: 100px;
    height: 40px;
}

.showAll::after {
    content: "Show All Books";
}

.sortDiv {
    margin-top: 73px;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    
}


.sortSelect {
    width: 50%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.sortSelect:hover {
    cursor: pointer;
}

.sortSelectButton {
    border-radius: 5px;
    width: 70px;
    height: 22px;
    font-family: 'Courier New', Courier, monospace;
    background-color:chartreuse;
    font-weight: bold;
}

.sortSelectButton::after {
    content: "Sort";
}